/* Container */
.container{
    width: 96%;
    margin: 1em auto;
    margin: auto;
  }
  .grid{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 0.5em;
  }
.card-movies{
    width: 200px;
    position: relative;
    top: 20px;
    height: auto;
    border-radius: 4px;
    transition: 0.2s linear;
    margin: 3px;
    position: relative;
    cursor: pointer;
    display: flex;
}
.card-movies:hover{
    transform: scale(1.4);
    z-index: 10;
}
.card-movies-icon{
    color: #fff;
    padding: 0px !important;
    font-size: 28px;
    border-radius: 50%;
    cursor: pointer;
}
.netflix-card-text{
    font-size: 12px;
}
.text-btn-more{
    font-size: 12px !important;
}

.card-body-movies{
    display: none;
    padding: 10px 15px;
    position: absolute;
    background-color: #141414;;
    top: 290px;
    width: 100%;
    border: 1px solid #fff;
    border-top: none;
    z-index: 100 !important;
}
.card-movies:hover > .card-body-movies{
    display: block;
}

i{
    font-size: 20px;
    color: #fff;
    padding: 5px 5px;
}
.overlay img{
    width: 100%;
    /* height: 100%; */
}