/* list */
.grid-list{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0.5em;
  }
.box-list{
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 270px;
    height: 200px;
    position: relative;
    top: 100px;
}
.overlay{
  border: 1px solid #fff;
}
.bg-list{
  background-image: linear-gradient(rgba(0, 0, 0, 0.891), rgba(0, 0, 0, 0.816)) , url(../bg-login.jpg);
  background-repeat: no-repeat;
  height: 200px !important;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-list{
  color: #fff;
  text-decoration: none;
}
.title-list{
  position: relative;
  top:100px;
  z-index: 100000000;
  font-weight: bold;
  font-size: 25px;
  color: #fff;

}
.create-list{
  position: relative;
  top:100px;
}
.box-title{
  display: flex;
  justify-content: space-between;
}
.modal-border-bottom{
  border-bottom: none !important;
}
.text-list{
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.text-list:hover{
  color: rgb(195, 236, 10);
}
.text-items{
  color: rgb(195, 236, 10);
  text-align: center;
  text-decoration: none;
}
.text-items:hover{
  color: rgb(240, 216, 8);
}
.f-12{
  /* font-size: 12px; */
}
/* end-list */

/* detail movie-list */
.grid-img{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 0.5em;
}
.detail-img{
  border: 1px solid #ccc;
  position: relative;
  top: 100px;
}
.detail-img img{
  width:300px;
  height:380px;
}
.icon-delete{
  cursor: pointer;
}
.icon-delete:hover{
  color: red;
}
/* end-detail-movie-list */